<!DOCTYPE html>
<html lang="en" layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Bin</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">SmartBin</h1>
        <a th:href="@{/bin/new}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Input Bin Baru</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bin</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Bins</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Bins</th>

                    </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>122AB-DE1212-EE225</td>
                            <td><a href="#">Location</a> </td>
                            <td>Hibah Suku Dinas Kebersihan Jakarta Timur 2023</td>
                            <td >
                                <i class="fa fa-check"></i> Online
                            </td>
                            <td>3 Bins</td>
                        </tr>
                        <tr>
                            <td>122AB-DE1212-EE225</td>
                            <td><a href="#">Location</a> </td>
                            <td>Hibah Suku Dinas Kebersihan Jakarta Timur 2023</td>
                            <td >
                                <i class="fa fa-check"></i> Online
                            </td>
                            <td>3 Bins</td>
                        </tr>
                        <tr>
                            <td>122AB-DE1212-EE225</td>
                            <td><a href="#">Location</a> </td>
                            <td>Hibah Suku Dinas Kebersihan Jakarta Timur 2023</td>
                            <td >
                                <i class="fa fa-check"></i> Online
                            </td>
                            <td>3 Bins</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script layout:fragment="page-level-script">
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });

</script>
</body>
</html>